.nanda {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nanda1 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gojo {
    border: solid red 3px;
}

.sha:hover {
    background-image: linear-gradient(to right, #1A1A1A, #121212);
}

.padre3 {
    position: fixed;
}

.BARRAPRINCIPAL {
    position: fixed;
    z-index: 1;
}

.ora {
    box-shadow: -1px 9px 18px 0px #000000;
}

.CONTENEDOR:hover .ora1 {
    box-shadow: 2px 8px 10px -2px #000000;
}

.ora2 {
    box-shadow: 2px 8px 10px -2px #000000;
}

.CONTENEDOR .FLECHA {
    visibility: hidden;
}

.CONTENEDOR:hover .FLECHA {
    visibility: visible;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 300ms;
}

.CONTENEDOR:hover .FLECHA {
    top: 210px;
}

.CONTENEDOR1 .FLECHA1 {
    visibility: hidden;
}

.CONTENEDOR1:hover .FLECHA1 {
    visibility: visible;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 300ms;
}

.CONTENEDOR1:hover .FLECHA1 {
    top: 145px;
}



.mas {
    visibility: hidden;
}

.conn:hover .mas {
    visibility: visible;
}

.mens {
    visibility: hidden;
}

.mas:hover .mens {
    visibility: visible;
    transition-delay: 600ms;
}



.slader {
    width: 86%;
}
.sladerhome {
    width: 95.5%;
}

.ney {
    font-size: clamp(13px, 1.1vw, 20px);
}
.neyx {
    font-size: clamp(8px, 1.1vw, 20px);
}

.cans {
    font-size: clamp(10px, 0.8vw, 16px);
}


.BARRAPRINCIPAL {
    width: 77.7%;

}
.BARRALATERAL{
    width: 20%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 8px;
}
.hijo {
    margin-left: 21%;
    margin-right: 5px;
    width: 100%;
}

.audicont {
    width: 99.7%;
    top: 90%;
    margin-left: -20.6%;
}

.audio-container {
    padding-bottom: 15px;
}

.voll {
    display: flex;
    align-items: center;
}

.repro2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    
}
.repro3 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.audio-controls{
    align-items: center;
}
.repro4{
    gap: 40px;
}
.title-perfi{
    font-size: clamp(55px, 5vw, 100px );
}
.title-perfi1{
    font-size: clamp(20px, 4vw, 50px );
}
.title-perfi2{
    font-size: clamp(30px, 4vw, 65px );
}
.title-perfi3{
    font-size: clamp(20px, 2vw, 50px );
}
.portada{
    display: flex;
    align-items: end;
    gap: 48px;
    height: 40vh;
}
.popap{
    display: none;
}
.fechas{
  display: flex;
  align-items: center;
  gap: 8px;
}
.fechas2{
    display: flex;
    align-items: center;
    
  }
  .fechas3{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .gradi{
    height: 65vh;
  }
  .fotodie{
    border-radius: 6px;
  }
  .slick-arrow{
    visibility: hidden;
  }
  .slick-dots{
    visibility: hidden;
  }
  .seccion1{
    min-height: 300px; --context-color: #7f1d1d;
  }
  /* Estilo inicial del fondo */
  /* Estilo inicial del div contenedor */
/* .bg-color {
    transition: background 01s ease-in-out; 
} */





/* ---------------------------------------------@-QUERY---------------------------------------------------------------- */
@media (max-width: 1117px) {
    .BARRALATERAL {
        width: 0;
    }
    .nanda1 {
        white-space: wrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .artt{
        display: none;
    }

    .padre3 {
        display: none;
    }

    .hijo {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .repro {
        display: none;
    }

    .mas {
        display: none;
    }

    .BARRAPRINCIPAL {
        width: 100%;
    }

    .audicont {
        width: 100%;
        top: 85.9%;
        border-radius: 10px 10px 0 0;
        margin-left: 0;
    }

    .audio-container {
        padding-bottom: 30px;

    }
    .progress-container{
        flex-direction: column;

    }
    
    .voll {
        display: none;
    }
    .repro4{
        gap: 10px;
    }
    .sladerhome {
        width: 86%;
    }
    .login{
        display: none;
    }
    .popap{
        display: block;
    }
    .portada{
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 0;
        height: 65vh;
    }
    .fechas2{
        flex-direction: column;
        align-items: start;
    }
    .all{
        display: none;
    }
    .gradi{
        height: 70vh;
      }
      .title-perfi2{
        text-align: center;
    }
    .fotoborn{
        height: 90vh;
    }
    .fotoborn1{
        height: 90vh;
    }
    .fotoborn2{
        height: 90vh;
    }
    .fotoborn3{
        height: 90vh;
    }
    .fotoborn4{
        height: 90vh;
    }
    .fotoborn5{
        height: 90vh;
    }
    .fotoborn6{
        height: 90vh;
    }
    .fotoborn7{
        height: 90vh;
    }
    .FLECHA{
        display: none;
    }
    .shadaa{
        box-shadow: -14px 11px 22px 1px #050505;
    }
    .contenedorx{
        display: none;
    }
    .f-col{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    ::-webkit-scrollbar {
        display: none;
      }
      
      /* Fondo de la scrollbar */
      ::-webkit-scrollbar-track {
        display: none;
      }
      
      
      /* Color y diseño de la scrollbar */
      ::-webkit-scrollbar-thumb {
        display: none;
      }
      
      /* Estilo cuando la scrollbar está activa (hover) */
      ::-webkit-scrollbar-thumb:hover {
        display: none;
      }
      .FLECH{
        display: none;
      }
  
}